/* -- Begin Layout -- */
html, body {
  height: 100%;
}
body {
  font-size: 14px;
}

.field-errors {
  padding: 10px;
  margin-bottom: 30px;
}

.field-errors ul {
  margin-bottom: 0;
}

.field-errors h2 {
  margin-top: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.page-header .page-title {
  padding-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

pre.pre-max-width {
  width: 75em;
}

pre.pre-max-height {
  max-height: 20em;
}

td a {
    padding: 0
}

button.recipe-remove-tag {
    cursor: default;
}

.wysiwyg-editor {
    overflow:scroll;
    max-height:300px;
    border: 1px solid red;
}

.so-small-you-cant-see {
    /*width: 1px;
    height: 1px;
    overflow: hidden;*/
}

.day.disabled {
    color: #cccccc !important;
}