/* -- Begin Layout -- */
html, body {
  height: 100%;
}
body {
  font-size: 14px;
}

.field-errors {
  padding: 10px;
  margin-bottom: 30px;
}

.field-errors ul {
  margin-bottom: 0;
}

.field-errors h2 {
  margin-top: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.page-header .page-title {
  padding-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

pre.pre-max-width {
  width: 75em;
}

pre.pre-max-height {
  max-height: 20em;
}

td a {
    padding: 0
}

button.recipe-remove-tag {
    cursor: default;
}

.wysiwyg-editor {
    overflow:scroll;
    max-height:300px;
    border: 1px solid red;
}

.so-small-you-cant-see {
    /*width: 1px;
    height: 1px;
    overflow: hidden;*/
}

.day.disabled {
    color: #cccccc !important;
}

.slot {
    height: auto;
    padding: 0em 1em 1em 1em;
    border-color: #cccccc !important;
    min-height: 6em;
}

.slot label {
    cursor: pointer;
}

.slot hr {
    margin-top: 0px;
    margin-bottom: 15px;
}

.slot.slot-breakfast {
    border: 1px solid red;
    text-space-collapse: preserve;
}

.slot.slot-dinner {
    border: 1px solid green;
    text-space-collapse: preserve;
}

.slot-lunch {
    border: 1px solid blue;
    text-space-collapse: preserve;
}

.slot-title-breakfast,
.slot-title-dinner,
.slot-title-lunch {
    background-color: #efefef;
    border-radius: 0.25em;
    border-color: #dfdfdf;
    border-with: 1px;
    padding: 0.25em 1em 0.25em 0.25em;
    font-weight: bold;
    font-stretch: expanded;
    text-align: right;
}

.slot-title-breakfast span,
.slot-title-dinner span,
.slot-title-lunch span {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slot-title-breakfast {
    color: #f0ad4e;
}

.slot-title-dinner {
    color: #d43f3a;
}

.slot-title-lunch {
    color: #398439;
}

.checkbox-shopping-cart {
    margin-right: 0.5em !important;
}

.menu-item .glyphicon {
    margin-right: 0.75em;
    margin-top: 0.25em;
}

.recipe-infobox {
    background-color: #e5e5e5;
    color: #999999;
}

.recipe-infobox .glyphicon {
    margin-right: 0.15em;
    margin-top: 0.15em;
}