/* -- Begin Layout -- */
html, body {
  height: 100%;
}
body {
  font-size: 14px;
}

.field-errors {
  padding: 10px;
  margin-bottom: 30px;
}

.field-errors ul {
  margin-bottom: 0;
}

.field-errors h2 {
  margin-top: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.page-header .page-title {
  padding-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

pre.pre-max-width {
  width: 75em;
}

pre.pre-max-height {
  max-height: 20em;
}

td a {
    padding: 0
}

button.recipe-remove-tag {
    cursor: default;
}

.wysiwyg-editor {
    overflow:scroll;
    max-height:300px;
    border: 1px solid red;
}

.so-small-you-cant-see {
    /*width: 1px;
    height: 1px;
    overflow: hidden;*/
}

.day.disabled {
    color: #cccccc !important;
}

.slot {
    height: auto;
    padding: 0em 1em 1em 1em;
    border-color: #cccccc !important;
    min-height: 6em;
}

.slot label {
    cursor: pointer;
}

.slot hr {
    margin-top: 0px;
    margin-bottom: 15px;
}

.slot.slot-breakfast {
    border: 1px solid red;
    text-space-collapse: preserve;
}

.slot.slot-dinner {
    border: 1px solid green;
    text-space-collapse: preserve;
}

.slot-lunch {
    border: 1px solid blue;
    text-space-collapse: preserve;
}

.pos-abs {
    position: absolute;
    overflow: visible;
    height: 1px;
    width: 1px;
    border: 1px solid red;
}

.overflow-hidden {
    overflow: hidden;
}

.slot-title-breakfast,
.slot-title-dinner,
.slot-title-lunch {
    background-color: transparent;
    border-radius: 0.25em;
    border-color: #00ff00;
    border-with: 1px;
    padding: 0;
    font-weight: bold;
    font-size: 5em;
    position: relative;
    width: 5em;
    opacity: .15;
    line-height: 1em;
}

.slot-title-breakfast,
.slot-title-dinner,
.slot-title-lunch {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slot-title-breakfast {
    color: #f0ad4e;
}

.slot-title-dinner {
    color: #d43f3a;
}

.slot-title-lunch {
    color: #398439;
}

.checkbox-shopping-cart {
    margin-right: 0.5em !important;
}

.menu-item .glyphicon {
    margin-right: 0.75em;
    margin-top: 0.25em;
}

.recipe-infobox {
    background-color: #e5e5e5;
    color: #999999;
}

.recipe-infobox .glyphicon {
    margin-right: 0.15em;
    margin-top: 0.15em;
}

.mg-right {
    margin-right: .2em
}

.list-item-active-true {

}

.list-item-active-false {
    opacity: .25;
}

.list-item-action-show.list-item-active-false {
    display: none;
}

.menuplanner-row {
    background-color: #efefef;
    border-radius: 1em;
    border-color: #dfdfdf;
    border-with: 1px;
    margin: 0 0 .5em 0;
    padding: 1em 0 1em 0;
}

.menuplanner-day-slots {
    border-left: 1px solid #cccccc;
}

.menuplanner-day-label h3 {
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #ffffff;
}

.shopping-list-item-vegetable, .shopping-list-item-fruit {
    background-color: #dff0d8;
}

.shopping-list-item-cold {
    background-color: #d9edf7;
}

.shopping-list-item-dried, .shopping-list-item-nuts {
    background-color: #fcf8e3;
}

.shopping-list-item-spice {
    background-color: #aaddaa;
}

.shopping-list-item-noodles {
    background-color: #f7ecb5;
}

.shopping-list-item-flours {
    background-color: #faf2cc;
}

.shopping-list-item-conserved {
    background-color: #f7e1b5;
}

.shopping-list-item-default {
    background-color: #eeeeee;
}

.row-odd {
    background-color: #eeeeee;
}

.row-even {
    background-color: #ffffff;
}

.opacity-66 {
    opacity: .66 !important;
}
