<div class="panel panel-default">
    <div class="panel-body">
    <%- if shopping_list.shopping_list_items.any?  %>
        <%- shopping_list.aggregated_shopping_list.each do |item| %>
            <%= render_partial 'shoppinglist/shopping_list_item', :locals => { :shopping_list => shopping_list, :item => item, :action => action } %>
        <% end %>
    <% else %>
        No items found
    <% end %>
    </div>
</div>