<%- actions({ 'Cancel' => url(:shoppinglist, :show, :id => @shopping_list.id) }) %>
<div class="panel panel-default">
    <div class="panel-body">
<%- form_for :shopping_list, url(:shoppinglist, :update, :id => @shopping_list.id), :method => :put, :class => 'form-horizontal', :id => 'shopping_list' do |f| %>
  <%= render_partial 'shopping_list_item/item_form', :object => f %>
  <%= render_partial 'shoppinglist/form_fields', :object => f %>
  <%= f.submit 'Add item', :class => 'btn btn-primary' %>
<% end %>
    </div>
</div>

<%= render_partial 'shoppinglist/shopping_list_aggregated', :object => @shopping_list, :locals => { :action => :edit } %>

<script type="text/javascript">
$(document).ready(
  function () {
      FancySelector.prototype.initialize('.ingredient_typeahead_selector', '/familycookbook/ingredient/as_array', 'Select an ingredient to add to the shopping list');
      FancySelector.prototype.initialize('.unit_typeahead_selector', '/familycookbook/unit/as_array', 'Select a unit to use for this ingredient');
  }
);
</script>