<h3>Single edit</h3>
<%- actions2([
  remove_link('Cancel', :href => url(:shoppinglist, :show, :id => @shopping_list.id), :class => 'btn btn-danger')
]) %>

<%= render_partial 'shoppinglist/shopping_list_single', :object => @shopping_list, :locals => { :action => :edit_single } %>

<script type="text/javascript">
$(document).ready(
    function () {
        FancySelector.prototype.initialize('.ingredient_typeahead_selector', '/familycookbook/ingredient/as_array', 'Select an ingredient to add to the shopping list');
        FancySelector.prototype.initialize('.unit_typeahead_selector', '/familycookbook/unit/as_array', 'Select a unit to use for this ingredient');
    }
);
</script>
