<%- actions({ 'Show all' => url(:shoppinglist, :index) }) %>

<%- @shopping_list.items.each do |list_entry| %>
    <div class="col-md-0">
        <%=
            check_box_tag(:shopping_list,
                          :class   => 'pull-left checkbox-shopping-cart'
            )
        %>
    </div>
    <div class="col-md-11">
        <%= list_entry[:title] %> (<%= list_entry[:amount] %> <%= list_entry[:unit_title] %>)
    </div>
    <div class="clearfix"></div>
<% end %>