<div class="col-md-1 pull-left">
    <input type='text' class="form-control" name="mtmd_family_cook_book_shopping_list[amount]" />
</div>
<div class="col-md-4 pull-left">
    <select class="unit_typeahead_selector col-md-12" name="mtmd_family_cook_book_shopping_list[new_item][unit_id]"></select>
</div>
<div class="col-md-5 pull-left">
    <select class="ingredient_typeahead_selector col-md-12" name="mtmd_family_cook_book_shopping_list[new_item][ingredient_id]"></select>
</div>
