<%- actions({ 'Add menu plan' => url(:menuplanner, :new) }) %>

<div class="input-group date weekpicker col-lg-2" id="datetimepicker1">
  <input type='text' class="form-control" />
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
  </span>
</div>