<%- if !@ingredient.used_in_shopping_lists.blank? || !@ingredient.used_in_recipes.blank? %>
<div class="clearfix"><br/></div>
<div class="panel panel-default">
    <div class="panel-body">
        <%- unless @ingredient.used_in_recipes.blank? %>
        <div class="col-md-6">
            <h4>Verwendet in Rezepten:</h4>
            <ul>
            <%- @ingredient.used_in_recipes.each do |recipe| %>
                <li>
                    <%= link_to recipe.title, url(:recipe, :show, :id => recipe.id) %>
                </li>
            <% end %>
            </ul>
        </div>
        <% end %>
        <%- unless @ingredient.used_in_shopping_lists.blank? %>
        <div class="col-md-6">
            <h4>Verwendet in Einkaufslisten:</h4>
            <ul>
                <%- @ingredient.used_in_shopping_lists.each do |shopping_list| %>
                  <li>
                      <%= link_to shopping_list.title, url(:shoppinglist, :show, :id => shopping_list.id) %>
                  </li>
                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
</div>
<% end %>
